<div class="w-1/4 mb-10 px-2 overflow-hidden">
    <div class="w-full h-64 bg-cover bg-center rounded-lg mb-3" style="background-image: url({{room.first_photo}});"></div>
    <div class="flex justify-between mb-2">
        <div class="overflow-hidden flex">
            {% if room.host.superhost %}
                <span class="uppercasen font-medium text-sm border border-black text-black rounded py-0.1 px-0.5 mr-2">superhost</span>
            {% endif %}
            <span class="text-sm text-gray-500 truncate block">{{room.city}}, {{room.country.name}}</span> 
        </div>       
        <span class="text-sm flex items-center">
            <i class="fas fa-star text-red-400 text-xs mr-1"></i>{{room.total_rating}}
        </span>
    </div>
    <span class="text-black truncate block w-11/12">{{room.name}}</span>
</div>